{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'calend/css/calend.css' %}" />
  </head>
  <body>
    <div class="panel" id="toggle-panel">
      <div class="title-settings">
        <div class="title">
          <img
            class="icon"
            src="{% static 'dashboard/image/settings.svg' %}"
            style="margin: 15px"
          />
          <p style="font-size: 34px; margin-top: 15px">Settings</p>
        </div>
        <a class="icon" id="close" style="margin: 15px"
          ><img src="{% static 'dashboard/image/cross.svg' %}"
        /></a>
      </div>

      <div class="settings-container">
        <div class="settings-options">
          <ul class="options">
            <li id="ViewProfileOption" class="option">Edit profile</li>
            <li id="ChangePassword" class="option">Change password</li>
          </ul>
        </div>

        <div class="settings-profile-usage">
          <div class="settings-profile-section">
            <p>Profile picture</p>
            <img
              style="padding: 2% 0 1% 0; width: 80px"
              src="{% static 'dashboard/image/account.svg' %}"
            />
          </div>
          <div class="settings-username-section" style="padding: 1% 0 3% 0">
            <p style="padding: 1% 0 1% 0">Username</p>
            <input placeholder="Username" />
          </div>
          <div class="settings-email-settings" style="padding-bottom: 4%">
            <p style="padding: 1% 0 1% 0">Email</p>
            <input placeholder="Email" />
          </div>
          <button class="settings-button">
            <img
              style="width: 14%"
              src="{% static 'dashboard/image/pen.svg' %}"
            />
            Edit
          </button>
        </div>

        <div class="settings-change-password">
          <div class="settings-password-section" style="padding: 0 0 1.5% 0">
            <p style="padding: 0 0 1% 0">Current password</p>
            <input placeholder="Password" />
          </div>
          <div class="settings-change-section">
            <p style="padding: 2% 0 1% 0">New password</p>
            <input placeholder="Password" />
          </div>
          <div class="settings-change-section" style="padding: 0 0 4% 0">
            <p style="padding: 3% 0 1% 0">Confirm new password</p>
            <input placeholder="Password" />
          </div>
          <button class="settings-button">
            <img src="{% static 'dashboard/image/pen.svg' %}" /> Save
          </button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="header1">
        <span><span class="bold">Hero</span>Habit</span>
      </div>

      <div class="header2">
        <div class="navigation">
          <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Statistics</a></li>
            <li><a class="active-page" href="#">Calendar</a></li>
            <li><a href="#">Achievements</a></li>
          </ul>
        </div>
        <div class="settings">
          <button id="toggle-icon" class="icon">
            <img
              src="{% static 'dashboard/image/settings.svg' %}"
              height="30px"
            />
          </button>

          <button id="open-modal" class="icon">
            <img
              src="{% static 'dashboard/image/account.svg' %}"
              height="40px"
            />
          </button>
          <div id="overlay"></div>
        </div>
      </div>

      <div class="content">
        <div class="manage-section rounded">
          <div class="left-layout">
            <div class="lil-calendar">
              <div class="lil-container">
                <button class="change-month">
                  <img
                    class="change-month-icon"
                    src="{% static 'dashboard/image/arrow2.svg' %}"
                  />
                </button>
                <p><strong>January 2025</strong></p>
                <button class="change-month">
                  <img
                    class="change-month-icon"
                    src="{% static 'dashboard/image/arrow1.svg' %}"
                  />
                </button>
              </div>
              <ul class="days" style="margin-top: 15px; margin-bottom: 10px">
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
                <li>Sun</li>
              </ul>

              <div class="dates selected-week">
                <button class="previous-month">30</button>
                <button class="previous-month">31</button>
                <button class="selected-day">1</button> <button>2</button>
                <button>3</button><button>4</button>
                <button>5</button>
              </div>
              <div class="dates">
                <button>6</button><button>7</button><button>8</button>
                <button>9</button><button>10</button><button>11</button>
                <button>12</button>
              </div>
              <div class="dates">
                <button>13</button><button>14</button><button>15</button>
                <button>16</button><button>17</button><button>18</button>
                <button>19</button>
              </div>
              <div class="dates">
                <button>20</button><button>21</button><button>22</button>
                <button>23</button><button>24</button><button>25</button>
                <button>26</button>
              </div>
              <div class="dates">
                <button>27</button><button>28</button><button>29</button>
                <button>30</button><button>31</button>
                <button class="next-month">1</button>
                <button class="next-month">2</button>
              </div>
            </div>

            <div class="categories-section">
              <p
                style="
                  padding: 1px 1px 0 10px;
                  font-weight: 600;
                  font-size: 20px;
                "
              >
                <strong>Categories</strong>
              </p>
              <div class="category">
                <img src="{% static 'dashboard/image/pink-ellipse.svg' %}" />
                <p>Creativity</p>
              </div>
              <div class="category">
                <img src="{% static 'dashboard/image/green-ellipse.svg' %}" />
                <p>Strength</p>
              </div>
              <div class="category">
                <img src="{% static 'dashboard/image/blue-ellipse.svg' %}" />
                <p>Intelligence</p>
              </div>
            </div>

            <div class="button-section">
              <button class="invisible-button" id="addTaskButton">
                <img
                  style="padding: 0 10px 0 10px"
                  src="{% static 'dashboard/image/plus.svg' %}"
                />Add a task
              </button>
            </div>

            <div class="show-month-tasks" id="toggleView">
              <button class="invisible-button">
                <img
                  id="toggleIcon"
                  style="padding: 0 22px 0 22px"
                  src="{% static 'dashboard/image/leftarrow.svg' %}"
                /><span id="toggleText">Show tasks for month</span>
              </button>
            </div>
          </div>
        </div>

        <div class="calendar-section" id="calendarView">
          <div class="days-section">
            <div class="day" style="border-top-left-radius: 10px"></div>
            <button class="space" id="Monday">
              <div>Monday <strong>1</strong></div>
            </button>
            <button class="space" id="Tuesday">
              <div>Tuesday <strong>2</strong></div>
            </button>
            <button class="space" id="Wednesday">
              <div>Wednesday <strong>3</strong></div>
            </button>
            <button class="space" id="Thursday">
              <div>Thursday <strong>4</strong></div>
            </button>
            <button class="space" id="Friday">
              <div>Friday <strong>5</strong></div>
            </button>
            <button class="space" id="Saturday">
              <div>Saturday <strong>6</strong></div>
            </button>
            <button class="space" id="Sunday">
              <div>Sunday <strong>7</strong></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static calend/js/calend-for-all.js %}"></script>
</html>
