* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",Arial;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f1ebfb;
  overflow-y: auto;
}
.container {
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 95vh;
  gap: 10px; 
}

.header1{
  display: flex;
  padding: 10px;
  height:5%;
}

.header2{
  display: flex;
  padding: 10px;
  height:10%;
  
}
.content{
  display: flex;
  flex-grow:1;
  gap:10px;
}
.manage-section {
  flex: 2; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
}
.stats-section {
  flex: 1; 
  max-height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  overflow: auto; 
}
.welcome-section,
.days-section {
  border-radius: 8px;
  padding: 10px;
  height: 15%; 
}

.welcome-section {
  background: linear-gradient(
    90deg,
    rgba(196, 141, 246, 0.8),
    rgba(145, 109, 235, 0.8)
  );
}

.days-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Mon,
.Tue,
.Wed,
.Thu {
  background-color: #ffffff;
  border-radius: 8px;
  flex: 2;
}

.Tue {
  flex: 2;
}
.Wed {
  flex: 2;
}
.Thu {
  flex: 2;
}
.other {
  flex: 1;
}

.tasks-section {
  flex-grow: 1;
  max-height: 100%; 
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  overflow: auto; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  font-size: 16px; 
}
