* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1ebfb;
  overflow-y: auto;
  overflow-x: auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 98vw;
  max-width: 1024px;
  height: 98vh;
  gap: 5px;
}

@media (max-width: 1536px) {
  .container, .settings {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 836px) {
  .panel{
    width: 100%;
  }
}

@media (max-height: 500px){
  .panel{
    height: 100%;
  }
  .header1{
    padding: 0;
  }
}

.header1 {
  display: flex;
  height: 5%;
  flex-direction: column;
  padding: 20px 0px 0px 10px;
}

.header2 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 7%;
  padding: 0px 0px 0px 10px;
}

.navigation {
  flex: 2;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
}

.settings {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
  padding: 0 10px 10px;
  gap: 15px;
}

.icon {
  cursor: pointer;
}

.content {
  display: flex;
  flex-grow: 1;
  gap: 20px;
}

.manage-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  overflow: auto;
}

.stats-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
  min-width: 300px;
  background-color: #ffffff;
  overflow: auto;
}

.levelimg {
  position: absolute;
  bottom: -20px;
  right: -15px;
  z-index: 10;
}
.level{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:absolute;
  bottom: 0px;
  right: 2px;
  letter-spacing: -1px;
  background: linear-gradient(135deg, #d397fa, #8364e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 11;
  width:20px;
  height: 20px;
}

.hero-stats {
  flex: 6;
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  background-color: #d9d9d9;
  position: relative;
}

.activity-stats {
  border: 1px solid #d9d9d9;
  flex: 1.5;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-fill {
  height: 100%;
  background-color: #40c46e;
  border-radius: 5px;
}

.achievement-stats {
  border: 1px solid #d9d9d9;
  flex: 1;
  margin-bottom: 5px;
}

.welcome-section {
  height: 15%;
  background-image: url("All_stars.svg"),
  linear-gradient(90deg, #d397fa, #8364e8);
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: bold;
  justify-content: center;
  align-items: flex-start;
  background-position: right center, center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  padding: 10px 10px 10px 20px;
  font-size: 1.5rem;
}

.days-section {
  height: 12.5%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  overflow-x: auto;
  overflow-y: hidden;
}

.days-section::-webkit-scrollbar {
  height: 6px;
  border-radius: 10px;
}

.days-section::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}

.welcome-section p,
.days-section button {
  letter-spacing: 1px;
}

.active-day,
.day, {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-width: 100px;
  max-width: 200px;
  cursor: pointer;
  background-color: #ffffff;
  font-weight: bold;
  padding: 10px;
  overflow: hidden;
}

.active-day {
  font-size: 1.2rem;
  border-color: #916deb;
  color: #916deb;
}

.day {
  font-size: 1.2rem;
  border: none;
  color: #8364e8;
}

.blank {
  flex: 2;
}

.other {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.tasks-section {
  flex-grow: 1;
  max-height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0 10px 10px 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.tasks-section::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.tasks-section::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.tasks-section::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}

.no-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  font-size: 0.8rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.active-page {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 20px 10px 10px 10px;
  color: #4e4e4e;
  z-index: 990;
}

.rounded {
  border-radius: 10px;
}

.padded {
  padding: 10px;
}

.paddedx2 {
  padding: 20px;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.circled {
  border: 5px solid rgba(211, 151, 250, 0.2) !important;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  height: auto;
  width: auto;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.font12px {
  font-size: 0.7rem;
}
.font16px {
  font-size: 0.9rem;
}

.grey {
  color: #4e4e4e;
}

.account-info {
  margin: 0;
  padding: 10px 0px 10px 10px;
  font-size: 0.8rem;
}

.modal hr {
  border: none;
  height: 0.5px;
  background-color: #e5e5e5;
  width: calc(100% + 30px);
  margin: 0px -15px;
}

.settings button {
  border: none;
  background-color: transparent;
}

.flex-center {
  display: flex;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: end;
  align-items: start;
  z-index: 995;
  padding: 115px 40px 0px 0px;
}

.modal-content {
  background-color: #ffffff;
  padding: 10px 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  align-items: start;
  display: flex;
  flex-direction: column;
}

.inline {
  display: inline-flex;
  align-items: center;
}

.inline img {
  display: inline-block;
  vertical-align: middle;
}

.log-out {
  text-decoration: none;
  color: #c74f4f;
  cursor: pointer;
  padding-top: 5px;
}

.log-out img {
  padding-left: 5px;
}

.create-task {
  text-decoration: none;
  color: #000000;
  padding: 0px 0px 5px 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.cup {
  padding-top: 10px;
  justify-content: start;
  overflow: auto;
  display: flex;
  flex-direction: row;
}
.cup img {
  padding-right: 10px;
}

/*Davyd's*/
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.panel {
  display: none;
  position: fixed;
  width: 800px;
  height: 500px;
  font-weight: bolder;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow: auto;
}

.panel::-webkit-scrollbar {
  display: none;
}

@media (max-width: 836px) {
  .panel {
    width: 100%;
  }
}

.title-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}

.title {
  display: flex;
}

.settings-options {
  width: 25%;
  font-size: 20px;
  font-weight: normal;
  border-right: 2px solid #ddd;
}

.settings-profile-usage,
.settings-change-password {
  width: 73%;
  padding: 20px;
}

.settings-container {
  display: flex;
  height: 84.9%;
  flex-direction: row;
}

.settings-profile-section,
.settings-username-section,
.settings-password-section {
  border-bottom: 2px solid #ddd;
}

input {
  background-color: #ebebeb;
  border: none;
  border-radius: 10px;
  height: 2rem;
  width: 20rem;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
}

input::placeholder {
  color: #9c9c9c;
}

input:focus {
  border: 1px solid #8364E8;
  outline: none;
}

.settings-button {
  background-color: #d397fa !important;
  border: none;
  text-align: center;
  font-weight: bolder;
  color: white;
  font-size: 21px;
  width: 105px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.option {
  height: 4%;
  padding: 10px;
}

.active {
  background-color: #f0dbfe;
  border-right: 5px solid #d397fa;
}

.task{
  display: flex;
  border: #D9D9D9 2px solid;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.under-task{
  display: flex;
  flex-direction: column;
  color: #8D8D8D;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 4px;
}

.task-right-part{
  display: flex;
  flex-direction: row;
  align-items: center;
}
