{% load static %}
<link rel="icon" href="{% static 'dashboard/image/logo_b.png' %}" type="image/png">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HeroHabit</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'accounts/css/character.css'%}">
  </head>
  <body>
    <div class="container">
      <div class="header1">
        <span><span class="bold">Hero</span>Habit</span>
      </div>
      <div class="main-content">
        <div class="main">
          <div class="head">
            <p class="bold font48px purple-text">Character creation</p>
          </div>
          <div class="text">
            Choose your main characteristic
          </div>
          <div class="options">
            <button class="options-button pink-btn" data-value="creativity">Creativity</button>
            <button class="options-button green-btn" data-value="strength">Strength</button>
            <button class="options-button blue-btn" data-value="intelligence">Intelligence</button>             
          </div>
          <div class="text">
           Choose a gender of your character</p>
          </div>
          <div class="options">
            <button class="options-gender male-btn" data-value="male">Male</button>
            <button class="options-gender female-btn" data-value="female">Female</button>
            
          </div>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="characteristic" id="characteristicInput">
            <input type="hidden" name="gender" id="genderInput">
          
            <div class="save-bttn">
              <button type="submit" class="save-button">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'accounts/js/charactercr.js'%}"></script>
    </body>
</html>