<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'accounts/css/sign.css' %}">
</head>
<body>
<div class="site">
    <p class="font_1" style="color: #cdcdcd"> </p>

    <div class="container">
        <div class="left_layout" style="color: white">
            <div class="combined_left_layout">
                <span class="superhero-icon">🦸</span>

                <div class="welcome" style="font-size: 30px">
                    <p class="font_bold">Welcome to</p>
                    <div class="combined_text">
                        <p class="font_bold">Hero</p>
                        <p>Habit</p>
                    </div>
                </div>
                <p style="margin-top: 10px; font-size: 19px">please sign up to continue</p>
            </div>
        </div>

        <div class="right_layout">
            <div class="combined_text" style="justify-content: right; font-size: 20px; margin-right: 20px">
                <p class="font_bold">Hero</p>
                <p>Habit</p>
            </div>

            <div class="sign_up_section" style="margin-left: 35px">
                <p class="font_bold" style="color: #c48df6; font-size: 25px; margin-top: 70px; margin-left: 210px">SIGN UP</p>

                <form method="post">
                    {% csrf_token %}
                    <div class="input_field">
                        <input type="text" name="username" placeholder="Enter username" required>
                        <span><img class="icon_input" src="/static/accounts/image/user.svg" alt="User Icon"></span>
                    </div>

                    <div class="input_field">
                        <input type="email" name="email" placeholder="Enter email" required>
                        <span><img class="icon_input" src="/static/accounts/image/email.svg" alt="Email Icon"></span>
                    </div>

                    <div class="input_field">
                        <input type="password" name="password" placeholder="Enter password" required>
                        <span><img class="icon_input" src="/static/accounts/image/lock.svg" alt="Lock Icon"></span>
                    </div>
                    
                    <button type="submit" class="button_1" style="margin-left: 60px; font-size: 25px; font-weight: bold">Sign up</button>
                </form>

                <p style="margin-left: 130px; font-size: 18px">Already have an account? <a href="{% url 'login' %}" style="color: #c48df6; text-decoration: none">Login</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
